
.pull-right {
    float: right;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-right {
    margin-right: 10px;
}

.vertical-hr {
    background-color: #9E9E9E !important;
    width: 2px !important;
    height: 26px !important;
    margin-top: 5px;
}

.alert {

    p {
        margin-bottom: 0px !important;
    }

    .mat-icon {
        position: absolute !important;
    }

    .error-text {
        margin-left: 43px;
        padding-top: 3px !important;
        display: block;
    }
}