footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    line-height: 24px;
}
a {
    text-decoration: none !important;
    text-align: center;
    white-space: nowrap;
    color: #757575 !important;
    padding-bottom: 20px;
}

.footer {
    text-align: center;
}