<div class="books-container row col-lg-12" *ngIf="(books$ | async) as books" [ngClass]="routeAnimationsElements">
    <div *ngFor="let book of books" class="col-lg-3 col-md-3 col-sm-3">
        <mat-card class="book-card">
            <img mat-card-image src="{{book.urlPhoto}}">
            <span class="book-title">{{book.name}}</span>
            <mat-card-content>
                <p class="book-desc">
                    {{book.description}}
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button color="warn" mat-button (click)="handleDeleteClick(book)">DELETE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="empty-data" *ngIf="books.length == 0">
        <span>No Data Found</span>
    </div>
</div>
