.empty-data {
    height: 30px;

    span {
        width: 100%;
        text-align: center;
        position: absolute;
    }
}
:host ::ng-deep .book-card {
    max-width: 400px;
    border: 1px solid #eee !important;

    .book-title {
        color: #546E7A;
        text-align: center;
        height: 66px !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 20px !important;
        margin-left: -10px;
        font-size: 14px;
    }

    .book-desc {
        max-height: 45px !important;
        display: inline-grid;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mat-card-content {
        height: 30px;
    }

    .mat-card-image {
        width: 178px;
        min-width: 60px;
        height: 174px;
    }

    .mat-card-header {        
          .mat-card-header-text {
            height: 50px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
    }
}

.books-container {
    padding-top: 60px;
    padding-right: 0px !important;
    padding-left: 30px !important;
}

.action-delete {
    position: absolute;
    right: 0px;
    top: 0px;
}