.logo {
    margin-top: 20px; 
    margin-bottom: 20px; 
    text-align: center;    
}
.logo a {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #202020;
    text-decoration: none;
    display: inline-block;
    pointer-events: auto;
}